//?------------------------------------------
//*_____1-sm-1______--768--______1-sm-1______
//?------------------------------------------

@media (min-width: 768px) {
	.feedback-card {
		&__star {
			width: 22px;
			height: 22px;
		}
		&__footer {
			flex-direction: row;
			justify-content: space-between;
		}

		&__edit {
			margin-top: 0px;
		}
	}
}

//?------------------------------------------
//*_____2-md-2______--992--______2-md-2______
//?------------------------------------------

@media (min-width: 992px) {
	.feedback-card {
		&__star {
			width: 25px;
			height: 25px;
		}
	}
}
